.button{
    -fx-background-color:transparent;
    -fx-background-image: url("../images/arrowsBack.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-size: 50 50;
}
.button:hover{

}